.tweet-content {
  padding: 10px 10px 10px 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 15%;
  margin-right: 10px;
}

.tweet-col-right {
  flex-direction: column;
}

.tweet-header {
}

.tweet-header-name {
  font-weight: bold;
  color: black;
}

.tweet-header-meta {
  color: #66757f;
}

.tweet-text {
  margin: 5px 0;
}

.action-list {
  justify-content: flex-start;
}

.action-list-item {
  margin-left: 10px;
  margin-right: 20px;
}
